.steps21-container1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("https://play.teleporthq.io/static/svg/default-img.svg");
}
 
.steps21-max-width {
  gap: var(--dl-layout-space-fourunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.steps21-container2 {
  align-items: start;
}
 
.steps21-section-header {
  gap: var(--dl-layout-space-oneandhalfunits);
  top: 10%;
  display: flex;
  position: sticky;
  align-items: flex-start;
  flex-direction: column;
}
 
.steps21-text10 {
  color: #ffffff;
  text-transform: capitalize;
}
 
.steps21-text11 {
  fill: #ffffff;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
 
.steps21-text12 {
  font-size: 25px;
}
 
.steps21-text13 {
  font-size: 25px;
}
 
.steps21-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.steps21-container3 {
  grid-area: span 1/span 1/span 1/span 1;
}
 
.steps21-container4 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 3px;
  margin-bottom: var(--dl-layout-space-twounits);
  background-image: linear-gradient(to right, #fc00ff 0%, #00dbde 100%);
}
 
.steps21-text17 {
  text-align: center;
}
 
.steps21-text18 {
  top: var(--dl-layout-space-unit);
  right: var(--dl-layout-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.steps21-container5 {
  top: 10%;
  position: sticky;
  transform: rotate(2deg);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 3px;
  margin-bottom: var(--dl-layout-space-twounits);
  background-image: linear-gradient(225deg, rgb(252, 0, 255) 0.00%,rgb(0, 219, 222) 100.00%);
}
 
.steps21-text20 {
  text-align: center;
}
 
.steps21-text21 {
  top: var(--dl-layout-space-unit);
  right: var(--dl-layout-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.steps21-container6 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 3px;
  margin-bottom: var(--dl-layout-space-twounits);
  background-image: linear-gradient(180deg, rgb(252, 0, 255) 0.00%,rgb(0, 219, 222) 100.00%);
}
 
.steps21-text23 {
  text-align: center;
}
 
.steps21-text24 {
  top: var(--dl-layout-space-unit);
  right: var(--dl-layout-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.steps21-container7 {
  top: 10%;
  position: sticky;
  transform: rotate(2deg);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 3px;
  background-image: linear-gradient(0deg, rgb(252, 0, 255) 0.00%,rgb(0, 219, 222) 100.00%);
}
 
.steps21-text26 {
  text-align: center;
}
 
.steps21-text27 {
  top: var(--dl-layout-space-unit);
  right: var(--dl-layout-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.steps21-fragment1 {
  display: contents;
}
 
.steps21-text28 {
  display: inline-block;
}
 
.steps21-fragment2 {
  display: contents;
}
 
.steps21-text29 {
  display: inline-block;
  text-transform: capitalize;
}
 
.steps21-fragment3 {
  display: contents;
}
 
.steps21-text30 {
  display: inline-block;
}
 
.steps21-fragment4 {
  display: contents;
}
 
.steps21-text31 {
  display: inline-block;
}
 
.steps21-fragment5 {
  display: contents;
}
 
.steps21-text32 {
  display: inline-block;
}
 
.steps21-fragment6 {
  display: contents;
}
 
.steps21-text33 {
  display: inline-block;
}
 
.steps21-fragment7 {
  display: contents;
}
 
.steps21-text34 {
  display: inline-block;
}
 
.steps21-fragment8 {
  display: contents;
}
 
.steps21-text35 {
  display: inline-block;
}
 
.steps21root-class-name {
  background-image: url('https://raw.githubusercontent.com/orientater/Spotless-Hungry-Crocodile-HTML/refs/heads/main/components/unsplash-image%20(2).jpeg');
}
 
@media(max-width: 991px) {
  .steps21-max-width {
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .steps21-section-header {
    position: static;
    margin-bottom: var(--dl-layout-space-twounits);
  }
  .steps21-actions {
    width: 100%;
    align-self: flex-start;
  }
  .steps21-container4 {
    width: 100%;
  }
  .steps21-container5 {
    width: 100%;
  }
  .steps21-container6 {
    width: 100%;
  }
  .steps21-container7 {
    width: 100%;
  }
}
